.single-blog {
    margin-bottom: 30px;

    & img {
        width: 100%;
    }

    & .single-blog_content {
        padding: 40px 46px;

        & span {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 20px;
            display: block;
            color: $theme-color;
        }

        & h3 {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        &>a {
            color: $theme-color;
            font-weight: 600;
        }
    }
}


//widget
.widget {
    border: 2px solid #e3e3e3;
    padding: 40px 30px;

    &__title {
        position: relative;

        & h3 {
            display: inline-block;
            position: relative;
            padding: 0 35px;
            font-size: 28px;
            font-weight: 700;

            &:before,
            &:after {
                position: absolute;
                content: "";
                height: 2px;
                width: 40px;
                background: #e3e3e3;
                left: -35px;
                top: 18px;

            }

            &:after {
                left: auto;
                right: -35px;
            }
        }
    }

    &__search {
        position: relative;

        & input {
            width: 100%;
            height: 60px;
            background: #f9f7ff;
            border: 0;
            padding: 0 30px;
            color: #000;
        }

        & button {
            position: absolute;
            right: 0;
            border: 0;
            width: 60px;
            height: 100%;
            background: $theme-color;
            color: $white;
            font-size: 14px;
            top: 0;
        }
    }
}




.widget__socials {
    text-align: center;

    & a {
        font-size: 16px;
        color: #555555;
        width: 38px;
        height: 38px;
        background: transparent;
        border: 1px solid #e3e3e3;
        display: inline-block;
        line-height: 38px;
        border-radius: 50%;
        margin: 0 5px;
        transition: .3s;

        &:hover {
            background: $theme-color;
            color: $white;
            border-color: transparent;
        }
    }

}

.widget__instagram {
    margin: 0 -8px;

    & .instagram-item {
        width: 33.33%;
        float: left;
        padding: 0 8px;
        margin-bottom: 16px;
    }
}

.fandocat {
    & ul {
        & li {
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 16px;
            padding-bottom: 16px;

            & a {
                font-size: 14px;
                color: $link;
                font-weight: 600;
                display: block;

                & span {
                    float: right;
                }
            }

            &:last-child {
                border: 0;
                padding: 0;
                margin: 0;
            }
        }
    }
}


.widget-case {
    margin-bottom: 20px;

    & .widget-case-img {
        margin-right: 20px;

    }

    & .widget-case-content {
        & h4 {
            font-size: 16px;
            margin-bottom: 2px;
        }
    }
}


.widget__tags {
    margin-left: -5px;

    & a {
        display: inline-block;
        border: 1px solid #eaeaea;
        padding: 14px 22px;
        transition: 0.3s;
        margin: 5px;
        color: $link;
        font-size: 14px;
        font-weight: 600;
    }
}