.single-blog {
    margin-bottom: 30px;

    & img {
        width: 100%;
    }

    & .single-blog_content {
        padding: 40px 46px;

        & span {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 20px;
            display: block;
            color: $theme-color;
        }

        & h3 {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        &>a {
            color: $theme-color;
            font-weight: 600;
        }
    }
}


//widget
.widget {
    border: 2px solid #e3e3e3;
    padding: 40px 30px;

    &__title {
        position: relative;

        & h3 {
            display: inline-block;
            position: relative;
            padding: 0 35px;
            font-size: 28px;
            font-weight: 700;

            &:before, &:after {
                position: absolute;
                content: "";
                height: 2px;
                width: 40px;
                background: #e3e3e3;
                left: -35px;
                top: 18px;

            }
            &:after{
                left: auto;
                right: -35px;
            }
        }
    }

    &__search {
        position: relative;

        & input {
            width: 100%;
            height: 60px;
            background: #f9f7ff;
            border: 0;
            padding: 0 30px;
            color: #000;
        }

        & button {
            position: absolute;
            right: 0;
            border: 0;
            width: 60px;
            height: 100%;
            background: $theme-color;
            color: $white;
            font-size: 14px;
            top: 0;
        }
    }
}