.header-transparent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;  
}
.header-social{
    & a{
        font-size: 16px;
        color: $body-text-color;
        margin-right: 15px;
        transition: .3s;
        &:hover{
            color: $theme-color;
        }
    }
}
.user-login{
    & a{
        font-size: 12px;
        font-weight: 900;
        color:$body-text-color;
        text-transform: uppercase;
        transition: .3s;
        &:hover{
            color: $theme-color;
        }
        & i{
            margin-right: 5px;
        }
    }
}
.menu-bg{
    padding: 0 40px;
}
.main-menu{
    & nav{
        & ul{
            & li{
                display: inline-block;
                margin-left: 50px;
                position: relative;
                & .sub-menu{
                    position: absolute;
                    top: 105%;
                    left: 0;
                    width: 240px;
                    background: $white;
                    padding: 15px 25px;
                    border-top: 4px solid $theme-color;
                    transition: .3s;
                    opacity: 0;
                    visibility: hidden;
                    & li{
                        display: block;
                        margin: 0;
                        & a{
                            padding: 12px 0;
                        }
                    }
                }
                & a{
                    display: block;
                    padding: 45px 0;
                    font-size: 12px;
                    font-weight: 700;
                    color: $heading-color;
                    text-transform: uppercase;
                    line-height: 1;
                }
                &:hover >{
                    & a{
                        color: $theme-color;
                    }
                    & .sub-menu{
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }
            } 
        }
    }
}
.header-btn{
    margin-top: 25px;
    margin-left: 40px;
}

//Button
.s-btn{
    font-size: 12px;
    background: $theme-color;
    padding: 18px 38px;
    color: $white;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    border-radius: 30px;
    letter-spacing: 2px;
    border: 2px solid transparent;
    &:hover{
        background-color: $heading-color;
        color: $white;
    }
}
.btn-border{
    border-color:#d0d6d9;
    background: transparent;
    color: $heading-color;
    letter-spacing: 2px;
    font-weight: 700;
    &:hover{
        background-color: $theme-color;
        border-color: $theme-color;
    }
}