@mixin transition($time) {
	-webkit-transition: all $time ease-out 0s;
	-moz-transition: all $time ease-out 0s;
	-ms-transition: all $time ease-out 0s;
	-o-transition: all $time ease-out 0s;
	transition: all $time ease-out 0s;
}

@mixin transform($value) {
	-webkit-transform: $value;
	-ms-transform: $value;
	transform: $value;
}

@mixin date-style {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $theme-color;
	margin-bottom: 30px;
	display: block;
	font-weight: 700;
}