.section-title {
    position: relative;

    & h6 {
        color: $theme-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
        position: relative;
        z-index: 9;
    }

    & h2 {
        font-size: 70px;
        letter-spacing: -3px;
        position: relative;
        z-index: 9;

        @media #{$md} {
            font-size: 60px;
        }

        @media #{$xs} {
            font-size: 40px;
        }
    }

    & .back-title {
        font-size: 250px;
        color: #efefef;
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        font-family: $merri;
        font-style: italic;
        line-height: 1;

        @media #{$md} {
            font-size: 150px;
        }

        @media #{$xs} {
            font-size: 70px;
        }
    }
}

.section-title-white {
    & h2 {
        color: $white;
    }
}