// Font Family
$opensans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$merri: 'Merriweather', serif;

// Colors ---------------
$white: #ffffff;
$black: #222;
$grey:#f9f9f9;
$theme-color: #ec6e39;
$body-text-color: #899399;
$hr-border-color:#eceff8;
$grey-color: #e5e6ec;
$dark: #121121;
$link: #7f7d9f;
$footer-text:#afb3d6;

// Heading Color
$heading-color: #1d1b36;

// Soft color
$black-soft:#7e7e7e;

// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


